﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}
@{
    int num = 0;
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li class="active" id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantSkill", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formSkill" }))
    {
        <div id="applicant-skill-form">
            <div class="row" id="applicant-list-skill-form">
                <div class="span6 add-control">
                    <a class="btn" href="#" id="btnAdd" onclick="appendRow(event);"><i class="icon-plus-sign"></i>Add</a>
                </div>
                <div class="span8 no-margin" style="margin-bottom: 10px;">
                    <div class="span4 form-group">
                        @Html.Label("lblListSkills", "Skills")
                    </div>
                    <div class="span2 form-group">
                        @Html.Label("lblListProficiency", "Proficiency")
                    </div>
                </div>
                @if (Model.recruitmentSkill.Count() > 0)
                {
                    for (int i = 0; i < Model.recruitmentSkill.Count; i++)
                    {
                    <div class="span8 no-margin" id="set_@num">
                        <div class="span4 form-group">
                            @Html.TextBoxFor(model => Model.recruitmentSkill[i].Skill, new { @id = "Skill_" + num, @class = "form-control span4", onchange = "inputChange(this);" })
                            @Html.HiddenFor(model => Model.recruitmentSkill[i].SkillId, new { @id = "SkillId_" + num })
                            @Html.HiddenFor(model => Model.recruitmentSkill[i].isDelete, new { @id = "isDelete_" + num, @style = "display:none;" })
                            @Html.ValidationMessageFor(model => Model.recruitmentSkill[i].Skill, "", new { @style = "color: #a94442;" })
                        </div>
                        <div class="span2 form-group">
                            @{
                        var ListProf = ViewBag.ListProficiency as List<WebPortal.Models.DropdownModel>;
                        var newSelectList = new SelectList(ListProf, "stringValue", "Text", Model.recruitmentSkill[i].Proficiency); 
                            }
                            @Html.DropDownListFor(model => Model.recruitmentSkill[i].Proficiency, newSelectList, new { @id = "Proficiency_" + num, @class = "form-control resize-dropdown", onchange = "selectChange(this);" })
                        </div>
                        <div class="span1 form-group">
                            <a href="#" onclick = "deleteSkill(@num, event);"><i class="icon-trash icon-2x"></i></a>
                        </div>
                    </div>
                        { num++; }
                    }
                }
                else
                {
                    <div class="span8 no-margin" id="set_0">
                        <div class="span4 form-group">
                            <input class="form-control span4" data-val="true" data-val-required="This field is required" id="Skill_0" name="recruitmentSkill[0].Skill" type="text" onchange="inputChange(this);">
                            <input data-val="true" data-val-number="The field SkillId must be a number." id="SkillId_0" name="recruitmentSkill[0].SkillId" type="hidden">
                            <input data-val="true" data-val-required="The isDelete field is required." id="isDelete_0" name="recruitmentSkill[0].isDelete" style="display: none;" type="hidden" value="False" class="valid">
                            <span data-valmsg-for="recruitmentSkill[0].Skill" data-valmsg-replace="true" style="color: #a94442;"></span>
                        </div>
                        <div class="span2 form-group">
                            <select class="form-control resize-dropdown" data-val="true" data-val-required="This field is required" id="Proficiency_0" name="recruitmentSkill[0].Proficiency" onchange="selectChange(this);">
                                <option value="A">Advanced</option>
                                <option value="I">Intermediate</option>
                                <option value="B">Beginner</option>
                            </select>
                        </div>
                        <div class="span1 form-group"><a href="#" onclick="deleteSkill(0, event);"><i class="icon-trash icon-2x"></i></a></div>
                    </div>
                    { num++; }
                }
            </div>
            <div class="row">
                <div class="span2 widget" style="margin-top: 30px">
                    <button class="btn widget-btn" type="submit">Save Changes</button>
                </div>
                <div class="span2 widget" style="margin-top: 30px">
                    <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var num = '@num';

    $(document).ready(function () {
        $('#applicant-link').addClass('active');
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formSkill").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formSkill").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            //$("#applicant-skill").delay(100).fadeIn(100);
            //$("#applicant-skill-form").fadeOut(100);

            $("#formSkill").data("changed", false);
            window.location.href = "/MyAccount/ApplicantSkills"
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formSkill").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formSkill").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function appendRow(e) {
        var d = document.getElementById('applicant-list-skill-form');
        d.innerHTML += "<div class='span8 no-margin' id='set_" + num + "'>" +
                            "<div class='span4 form-group'>" +
                                "<input class='form-control span4' data-val='true' data-val-required='This field is required' id='Skill_" + num + "' name='recruitmentSkill[" + num + "].Skill' type='text' onchange = 'inputChange(this);'>" +
                                "<input data-val='true' data-val-number='The field SkillId must be a number.' id='SkillId_" + num + "' name='recruitmentSkill[" + num + "].SkillId' type='hidden'>" +
                                "<input data-val='true' data-val-required='The isDelete field is required.' id='isDelete_" + num + "' name='recruitmentSkill[" + num + "].isDelete' style='display:none;' type='hidden' value='False' class='valid'>" +
                                "<span data-valmsg-for='recruitmentSkill[" + num + "].Skill' data-valmsg-replace='true' style='color: #a94442;'></span>" +
                            "</div>" +
                            "<div class='span2 form-group'>" +
                                "<select class='form-control resize-dropdown' data-val='true' data-val-required='This field is required' id='Proficiency_" + num + "' name='recruitmentSkill[" + num + "].Proficiency' onchange = 'selectChange(this);'>" +
                                    "<option value='A'>Advanced</option>" +
                                    "<option value='I'>Intermediate</option>" +
                                    "<option value='B'>Beginner</option>" +
                                "</select>" +
                            "</div>" +
                            "<div class='span1 form-group'>" +
                            "<a href='#' onclick = 'deleteSkill(" + num + ", event);'><i class='icon-trash icon-2x'></i></a>" +
                            "</div>" +
                        "</div>";

        $('#formSkill').validate();
        $('#Skill_' + num++).rules('add', { required: true, messages: { required: 'This field is required' } });
        $("#formSkill").data("changed", true);

        e.preventDefault();
    }

    function deleteSkill(id, e) {
        if (confirm('Are you wish to delete this skill?')) {
            $("#set_" + id).fadeOut(100);
            $("#Skill_" + id).rules('remove');

            var item = $('#isDelete_' + id);
            item.attr('value', true);

            $("#formSkill").data("changed", true);
        }

        e.preventDefault();
    }

    function inputChange(input) {
        var item = $('#' + input.id);
        item.attr('value', input.value);

        $("#formSkill").data("changed", true);
    }

    function selectChange(select) {
        var selectedItem = select.options[select.selectedIndex].value;

        if (selectedItem == "A") {
            $('#' + select.id + ' option[value=A]').attr('selected', 'selected');
            $('#' + select.id + ' option[value=I]').removeAttr('selected', 'selected');
            $('#' + select.id + ' option[value=B]').removeAttr('selected', 'selected');
        } else if (selectedItem == "I") {
            $('#' + select.id + ' option[value=A]').removeAttr('selected', 'selected');
            $('#' + select.id + ' option[value=I]').attr('selected', 'selected');
            $('#' + select.id + ' option[value=B]').removeAttr('selected', 'selected');
        } else if (selectedItem == "B") {
            $('#' + select.id + ' option[value=A]').removeAttr('selected', 'selected');
            $('#' + select.id + ' option[value=I]').removeAttr('selected', 'selected');
            $('#' + select.id + ' option[value=B]').attr('selected', 'selected');
        }

        $("#formSkill").data("changed", true);
    }

</script>
