﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li class="active" id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
        </ul>
    </div>
    <div class="row" id="vendor-legal">
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSIUP", "SIUP Number")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSIUPValue", Model.Vendor_SIUP != null ? Model.Vendor_SIUP : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSIUPValidTo", "SIUP Valid To")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSIUPValidToValue", Model.Vendor_SIUPValidTo != null && Model.Vendor_SIUPValidTo != DateTime.MinValue ? Model.Vendor_SIUPValidTo.ToString("dd MMM yyyy") : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSIUPDocument", "SIUP Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSIUPDocumentValue", Model.Vendor_SIUPDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblTDP", "TDP Number")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblTDPValue", Model.Vendor_TDP != null ? Model.Vendor_TDP : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblTDPValidTo", "TDP Valid To")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblTDPValidToValue", Model.Vendor_TDPValidTo != null && Model.Vendor_TDPValidTo != DateTime.MinValue ? Model.Vendor_TDPValidTo.ToString("dd MMM yyyy") : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblTDPDocument", "TDP Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblTDPDocumentValue", Model.Vendor_TDPDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSKDP", "SKDP Number")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSKDPValue", Model.Vendor_SKDP != null ? Model.Vendor_SKDP : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSKDPValidTo", "SKDP Valid To")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSKDPValidToValue", Model.Vendor_SKDPValidTo != null ? Model.Vendor_SKDPValidTo.Value.ToString("dd MMM yyyy") : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblSKDPDocument", "SKDP Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSKDPDocumentValue", Model.Vendor_SKDPDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblDeedOfIncorporation", "Deed of Incorporation")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblDeedOfIncorporationValue", Model.Vendor_DeedOfIncorporation != null ? Model.Vendor_DeedOfIncorporation : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblDoIDocument", "Deed of Incorporation Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblDoIDocumentValue", Model.Vendor_DoIDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblCertificateOfEstablishment", "Establishment Certificate")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblCertificateOfEstablishmentValue", Model.Vendor_CertificateOfEstablishment != null ? Model.Vendor_CertificateOfEstablishment : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblCoEDocument", "Establishment Certificate Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblCoEDocumentValue", Model.Vendor_CoEDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblDeedOfChange", "Deed of Change")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblDeedOfChangeValue", Model.Vendor_DeedOfChange != null ? Model.Vendor_DeedOfChange : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblDoCDocument", "Deed of Change Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblDoCDocumentValue", Model.Vendor_DoCDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblCertificateOfChange", "Change Certificate")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblCertificateOfChangeValue", Model.Vendor_CertificateOfChange != null ? Model.Vendor_CertificateOfChange : "-")
            </div>
        </div>
        <div class="span9 no-margin">
            <div class="span3 form-group">
                @Html.Label("lblCoCDocument", "Change Certificate Scan")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblCoCDocumentValue", Model.Vendor_CoCDocumentName != null ? "Uploaded" : "Not Uploaded")
            </div>
        </div>
        <div class="span2 widget" style="margin-top: 30px">
            <a class="btn widget-btn" href="#" id="btnEdit">Edit Data</a>
        </div>
    </div>
    @using (Html.BeginForm("SaveChanges_VendorLegal", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formLegal" }))
    {
        <div class="row" id="vendor-legal-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    SIUP Number* :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SIUP, new { @id = "SIUP", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_SIUP, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    SIUP Valid To * :
                </div>
                <div class="span3 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SIUPValidTo, new { @id = "SIUPValidTo", @class = "form-control span3", @placeholder = "mm / dd / yyyy", @readonly = "readonly" })
                </div>
                <div class="span1 form-group">
                    <span class="i-calendar-siup"><i class="icon-calendar icons-example"></i></span>&nbsp
                                    <span class="i-clear-siup"><i class="icon-remove icons-example"></i></span>
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_SIUPValidTo, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SIUPDocumentName, new { @id = "SIUPDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "SIUP Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_SIUPDocumentPath, new { @id = "SIUPDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileSIUP", null, new { @id = "cmdSIUPBrowse", @onchange = "setSIUPFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_SIUPDocumentName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    TDP Number* :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_TDP, new { @id = "TDP", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_TDP, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    TDP Valid To * :
                </div>
                <div class="span3 form-group">
                    @Html.TextBoxFor(model => model.Vendor_TDPValidTo, new { @id = "TDPValidTo", @class = "form-control span3", @placeholder = "mm / dd / yyyy", @readonly = "readonly" })
                </div>
                <div class="span1 form-group">
                    <span class="i-calendar-siup"><i class="icon-calendar icons-example"></i></span>&nbsp
                                    <span class="i-clear-siup"><i class="icon-remove icons-example"></i></span>
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_TDPValidTo, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_TDPDocumentName, new { @id = "TDPDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "TDP Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_TDPDocumentPath, new { @id = "TDPDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileTDP", null, new { @id = "cmdTDPBrowse", @onchange = "setTDPFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_TDPDocumentName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    SKDP Number :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SKDP, new { @id = "SKDP", @class = "form-control span4" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    SKDP Valid To :
                </div>
                <div class="span3 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SKDPValidTo, new { @id = "SKDPValidTo", @class = "form-control span3", @placeholder = "mm / dd / yyyy", @readonly = "readonly" })
                </div>
                <div class="span1 form-group">
                    <span class="i-calendar-siup"><i class="icon-calendar icons-example"></i></span>&nbsp
                                    <span class="i-clear-siup"><i class="icon-remove icons-example"></i></span>
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SKDPDocumentName, new { @id = "SKDPDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "SKDP Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_SKDPDocumentPath, new { @id = "SKDPDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileSKDP", null, new { @id = "cmdSKDPBrowse", @onchange = "setSKDPFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Deed of Incorporation * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_DeedOfIncorporation, new { @id = "DeedOfIncorporation", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_DeedOfIncorporation, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_DoIDocumentName, new { @id = "DoIDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "Deed of Incorporation Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_DoIDocumentPath, new { @id = "DoIDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileDoI", null, new { @id = "cmdDoIBrowse", @onchange = "setDoIFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_DoIDocumentName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Establishment Certificate :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CertificateOfEstablishment, new { @id = "CertificateOfEstablishment", @class = "form-control span4" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CoEDocumentName, new { @id = "CoEDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "Establishment Certificate Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_CoEDocumentPath, new { @id = "CoEDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileCoE", null, new { @id = "cmdCoEBrowse", @onchange = "setCoEFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Deed of Change :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_DeedOfChange, new { @id = "DeedOfChange", @class = "form-control span4" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_DoCDocumentName, new { @id = "DoCDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "Deed of Change Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_DoCDocumentPath, new { @id = "DoCDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileDoC", null, new { @id = "cmdDoCBrowse", @onchange = "setDoCFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Change Certificate :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CertificateOfChange, new { @id = "CertificateOfChange", @class = "form-control span4" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CoCDocumentName, new { @id = "CoCDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "Change Certificate Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_CoCDocumentPath, new { @id = "CoCDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileCoC", null, new { @id = "cmdCoCBrowse", @onchange = "setCoCFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save Changes</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');

        var $legalForm = $('#formLegal'),
        legalOrigForm = $legalForm.serialize();

        $('#formLegal :input').on('change input', function () {
            if ($legalForm.serialize() !== legalOrigForm) {
                $("#formLegal").data("changed", true);
            } else {
                $("#formLegal").data("changed", false);
            }
        });

        $('#btnEdit').click(function (e) {
            $("#vendor-legal").fadeOut(100);
            $("#vendor-legal-form").delay(100).fadeIn(100);

            e.preventDefault();
        });

        $("#SIUPValidTo").datepicker({
            minDate: 0,
            onClose: function (selectedDate) {
                $("#SIUPValidTo").attr("value", selectedDate.toString());
            }
        });
        $("#TDPValidTo").datepicker({
            minDate: 0,
            onClose: function (selectedDate) {
                $("#TDPValidTo").attr("value", selectedDate.toString());
            }
        });
        $("#SKDPValidTo").datepicker({
            minDate: 0,
            onClose: function (selectedDate) {
                $("#SKDPValidTo").attr("value", selectedDate.toString());
            }
        });

        $('.i-calendar-siup').click(function () {
            $("#SIUPValidTo").focus();
        });

        $('.i-calendar-tdp').click(function () {
            $("#TDPValidTo").focus();
        });

        $('.i-calendar-skdp').click(function () {
            $("#SKDPValidTo").focus();
        });

        $('.i-clear-siup').click(function () {
            document.getElementById('SIUPValidTo').value = "";
        });

        $('.i-clear-tdp').click(function () {
            document.getElementById('TDPValidTo').value = "";
        });

        $('.i-clear-skdp').click(function () {
            document.getElementById('SKDPValidTo').value = "";
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formLegal").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formLegal").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-legal").delay(100).fadeIn(100);
            $("#vendor-legal-form").fadeOut(100);

            $("#formLegal").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formLegal").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formLegal").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function setSIUPFileName() {
        var file = $("#cmdSIUPBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#SIUPDocumentName").val(file.substring(lastindex, len));
        $("#SIUPDocumentPath").val($("#cmdSIUPBrowse").val());
    }

    function setTDPFileName() {
        var file = $("#cmdTDPBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#TDPDocumentName").val(file.substring(lastindex, len));
        $("#TDPDocumentPath").val($("#cmdTDPBrowse").val());
    }

    function setSKDPFileName() {
        var file = $("#cmdSKDPBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#SKDPDocumentName").val(file.substring(lastindex, len));
        $("#SKDPDocumentPath").val($("#cmdSKDPBrowse").val());
    }

    function setDoIFileName() {
        var file = $("#cmdDoIBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#DoIDocumentName").val(file.substring(lastindex, len));
        $("#DoIDocumentPath").val($("#cmdDoIBrowse").val());
    }

    function setCoEFileName() {
        var file = $("#cmdCoEBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#CoEDocumentName").val(file.substring(lastindex, len));
        $("#CoEDocumentPath").val($("#cmdCoEBrowse").val());
    }

    function setDoCFileName() {
        var file = $("#cmdDoCBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#DoCDocumentName").val(file.substring(lastindex, len));
        $("#DoCDocumentPath").val($("#cmdDoCBrowse").val());
    }

    function setCoCFileName() {
        var file = $("#cmdCoCBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#CoCDocumentName").val(file.substring(lastindex, len));
        $("#CoCDocumentPath").val($("#cmdCoCBrowse").val());
    }

</script>
