﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li class="active" id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
        </ul>
    </div>
    <div class="row" id="vendor-tax">
        <div class="span2 form-group">
            @Html.Label("lblNPWP", "NPWP")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblNPWPValue", Model.Vendor_NPWP != null ? Model.Vendor_NPWP : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblNPWPAddress", "NPWP Address")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblNPWPAddressValue", Model.Vendor_NPWPAddress != null ? Model.Vendor_NPWPAddress : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lbNPWPDocument", "NPWP Scan")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblNPWPDocumentValue", Model.Vendor_NPWPDocumentName != null ? "Uploaded" : "Not Uploaded")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblSKPKP", "SK PKP")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblSKPKPValue", Model.Vendor_SKPKP != null ? Model.Vendor_SKPKP : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lbSKPKPDocument", "SK PKP Scan")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblSKPKPDocumentValue", Model.Vendor_SKPKPDocumentName != null ? "Uploaded" : "Not Uploaded")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblPPn", "PPn")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPPnValue", Model.Vendor_PPn != null ? (Model.Vendor_PPn ? "Yes" : "No") : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblPPh", "PPh")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPPhValue", Model.Vendor_PPh != null ? (Model.Vendor_PPh ? "Yes" : "No") : "-")
        </div>
        <div class="span2 widget" style="margin-top: 30px">
            <a class="btn widget-btn" href="#" id="btnEdit">Edit Data</a>
        </div>
    </div>
    @using (Html.BeginForm("SaveChanges_VendorTax", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formTax" }))
    {
        <div class="row" id="vendor-tax-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    NPWP * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_NPWP, new { @id = "NPWP", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_NPWP, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    NPWP Address * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_NPWPAddress, new { @id = "NPWPAddress", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_NPWPAddress, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_NPWPDocumentName, new { @id = "NPWPDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "NPWP Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_NPWPDocumentPath, new { @id = "NPWPDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileNPWP", null, new { @id = "cmdNPWPBrowse", @onchange = "setNPWPFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_NPWPDocumentName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    SK PKP :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SKPKP, new { @id = "SKPKP", @class = "form-control span4" })
                </div>
            </div>
            <div class="span10 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_SKPKPDocumentName, new { @id = "SKPKPDocumentName", @class = "form-control span4", @readonly = "readonly", @placeholder = "SK PKP Scan File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Vendor_SKPKPDocumentPath, new { @id = "SKPKPDocumentPath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFileSKPKP", null, new { @id = "cmdSKPKPBrowse", @onchange = "setSKPKPFileName()", @type = "file", @accept = ".pdf", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    PPn :
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Vendor_PPn, "true", new { @class = "form-control" }) Yes</h6>
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Vendor_PPn, "false", new { @class = "form-control" }) No</h6>
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    PPh :
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Vendor_PPh, "true", new { @class = "form-control" }) Yes</h6>
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Vendor_PPh, "false", new { @class = "form-control" }) No</h6>
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save Changes</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');

        var $taxForm = $('#formTax'),
        taxOrigForm = $taxForm.serialize();

        $('#formTax :input').on('change input', function () {
            if ($taxForm.serialize() !== taxOrigForm) {
                $("#formTax").data("changed", true);
            } else {
                $("#formTax").data("changed", false);
            }
        });

        $('#btnEdit').click(function (e) {
            $("#vendor-tax").fadeOut(100);
            $("#vendor-tax-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formTax").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formTax").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-tax").delay(100).fadeIn(100);
            $("#vendor-tax-form").fadeOut(100);

            $("#formTax").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formTax").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formTax").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function setNPWPFileName() {
        var file = $("#cmdNPWPBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#NPWPDocumentName").val(file.substring(lastindex, len));
        $("#NPWPDocumentPath").val($("#cmdNPWPBrowse").val());
    }

    function setSKPKPFileName() {
        var file = $("#cmdSKPKPBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#SKPKPDocumentName").val(file.substring(lastindex, len));
        $("#SKPKPDocumentPath").val($("#cmdSKPKPBrowse").val());
    }

</script>
