[node-id] rect {
        fill: #ffffff;
}

[node-id] text {
    fill: #5e0000;
}

[node-id] line {
    stroke: #5e0000;
}

[node-id='1'] {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}