/* =============
   Form
============= */

label {
  font-size: 14px;
  color: $muted;
  font-family: $font-secondary;
  font-weight: 300;
  // margin-bottom: 0px;
  
  &.error {
        color: #d50000;
		font-size: 12px
    }
}

select[multiple] option+option, select[size] option+option {
  margin-top: 1px;
}

select[multiple] option, select[size] option {
  padding: 6px 12px;
  border-radius: 2px;
}

select[multiple] {
  height: auto;
}

textarea.form-control {
  min-height: 90px;
}

.form-control {
  border: 1px solid darken($light,3%);
  border-radius: 4px;
  max-width: 100%;
  padding: .469rem .75rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;

  &:focus {
    border: 1px solid darken($light,20%);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
  
  &.error {
        border: 1px solid #d50000;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
    }
}

.form-control-lg {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.form-control-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

input[type="color"] {
  min-height: 38px;
}

.input-group-prepend,.input-group-append {
  .btn {
    min-height: 38px;
  }
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
  font-size: 12px;
}

.custom-select:focus {
  box-shadow: none;
}

.data-input-change a{
  font-size: 12px;
  color: $primary;
  font-weight: 300;
}

// Checkbox and Radio
.custom-control-input {
  display: none;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: $custom;
}

.form-check-input:only-child {
  position: absolute;
}

// MDB Form
.md-form .validate {
  margin-bottom: 2rem;
}
.md-form.md-outline input[type=date]:focus:not([readonly]), .md-form.md-outline input[type=datetime-local]:focus:not([readonly]), .md-form.md-outline input[type=email]:focus:not([readonly]), .md-form.md-outline input[type=number]:focus:not([readonly]), .md-form.md-outline input[type=password]:focus:not([readonly]), .md-form.md-outline input[type=search-md]:focus:not([readonly]), .md-form.md-outline input[type=search]:focus:not([readonly]), .md-form.md-outline input[type=tel]:focus:not([readonly]), .md-form.md-outline input[type=text]:focus:not([readonly]), .md-form.md-outline input[type=time]:focus:not([readonly]), .md-form.md-outline input[type=url]:focus:not([readonly]), .md-form.md-outline textarea.md-textarea:focus:not([readonly]), .select-wrapper.md-form.md-outline input.select-dropdown:focus {
  border-color: $custom;
  box-shadow: inset 0 0 0 1px $custom;
}
.md-form.md-outline input[type=date]:focus:not([readonly])+label,
.md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label,
.md-form.md-outline input[type=email]:focus:not([readonly])+label,
.md-form.md-outline input[type=number]:focus:not([readonly])+label,
.md-form.md-outline input[type=password]:focus:not([readonly])+label,
.md-form.md-outline input[type=search-md]:focus:not([readonly])+label,
.md-form.md-outline input[type=search]:focus:not([readonly])+label,
.md-form.md-outline input[type=tel]:focus:not([readonly])+label,
.md-form.md-outline input[type=text]:focus:not([readonly])+label,
.md-form.md-outline input[type=time]:focus:not([readonly])+label,
.md-form.md-outline input[type=url]:focus:not([readonly])+label,
.md-form.md-outline textarea.md-textarea:focus:not([readonly])+label,
.select-wrapper.md-form.md-outline+label.active {
  color: $custom;
}
.md-form textarea~label.active {
  color: $muted;
}
.btn[class*=btn-outline-] {
  padding-top: .36rem;
  padding-bottom: .36rem;
}
.select-wrapper.md-form.md-outline input.select-dropdown {
    padding: 0 .75rem;
}
.md-form .btn {
  position: relative;
  margin-top: 0.1rem;
}

.remove_field {
  margin: auto 0;
  font-size: 20px;
  color: $custom;
}