/* =============
   Form Advanced
============= */

/* Select 2 */
.select2-container {
  width: 100% !important;

  .select2-selection--single {
    border: 1px solid darken($light,1%);
    height: 38px;

    .select2-selection__rendered {
      line-height: 36px;
      padding-left: 12px;
    }

    .select2-selection__arrow {
      height: 34px;
      width: 34px;
      right: 3px;

      b{
        border-color: darken($light,15%) transparent transparent transparent;
        border-width: 6px 6px 0 6px;
      }
    }
  }
}

.select2-container--open {
  .select2-selection--single {

    .select2-selection__arrow {

      b{
        border-color: transparent transparent darken($light,15%) transparent !important;
        border-width: 0 6px 6px 6px !important;
      }
    }
  }
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid $border-form;
  box-shadow: $shadow;
}

.select2-container--default {
  .select2-search--dropdown {
    padding: 10px;
    background-color: lighten($light,5%);

    .select2-search__field {
      border: 1px solid $border-form;
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $custom;
  }
  .select2-results__option[aria-selected=true] {
    background-color: $light;
    color: $dark;

    &:hover {
      background-color: $custom;
      color: $white;
    }
  }
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid $border-form !important;

  .select2-selection__rendered {
    padding: 0px 12px;
  }
  .select2-search__field {
    margin-top: 7px;
    border: 0;
  }
  .select2-selection__choice {
    background-color: $custom;
    border: 1px solid transparent;
    color: $white;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 7px;
  }
  .select2-selection__choice__remove {
    color: $white;
    margin-right: 5px;

    &:hover {
      color: $white;
    }
  }

}



/* AUTOCOMPLETE */
.autocomplete-suggestions {
  border: 1px solid $light;
  background: $white;
  cursor: default;
  overflow: auto;
  box-shadow: $shadow;
}

.autocomplete-suggestion {
  padding: 5px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-no-suggestion {
  padding: 5px 10px;
  color: $danger;
}

.autocomplete-selected {
  background-color: $custom;
  color: $white;
  cursor: pointer;

  strong {
    color: $white !important;
  }
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: $dark;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: $dark;
  display: block;
}


/* Bootstrap tagsinput */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 5px;
  width: 100%;
  line-height: 1;
  border: 1px solid $border-form;

  .label-info {
    background-color: $custom;
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    margin: 3px 1px;
    border-radius: 3px;
  }
}


/* Bootstrap select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}

.bootstrap-select  {
  .dropdown-toggle {
    &:focus {
      outline: none !important;
    }
  }
  .glyphicon {
    padding-right: 6px;
  }
}


.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: $dark;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;

  &:hover {
    background-color: $custom;
    color: $white;
  }
}
.bootstrap-select .check-mark::after {
  content: "\F12C";
  font-family: "Material Design Icons";
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 0;
}

.bootstrap-select.btn-group .no-results {
  background-color: $white;
  color: $danger;
}

/* X Editable */
.editable-checklist label{
  display: block;
}
.editable-click, a.editable-click, a.editable-click:hover {
  color: $custom;
}

/* Bootstrap Fileupload */

.bootstrap-filestyle {
  .group-span-filestyle {
    .btn {
      min-height: 38px;
      line-height: 24px;
    }
  }
}

.bs-form .bs-label {
  position: absolute;
  transform: translateY(40%);
  left: 23px!important;
  color: #757575;
  background: #fff;
  font-size: 13px;
  font-weight: 500!important;
  padding-right: 5px;
  padding-left: 5px;
  top: -1.45em!important;
  z-index: 2!important;
}

.bs-form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}