
/* =============
   Responsive
============= */


@media (max-width: 768px) {

  .dataTables_wrapper {
    .col-xs-6 {
      width: 100%;
      text-align: left;
    }
  }

  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .m-t-sm-50 {
    margin-top: 50px !important;
  }

  .nav-tabs .nav-link.active {
    border-color: #dee2e6;
  }
  .nav-tabs .nav-link {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}

@media (max-width: 767px) {

  .dropdown-lg {
    width: 200px !important;
  }

  .dataTables_length {
    float: none;
    margin-bottom: 10px;
  }

  .navbar-custom .nav-user span {
    display: none;
  }

  .stepper-steps {
    height: 105px;
  }
  .stepper-step::after {
    height: 0px;
  }
  .stepper-step:first-child {
    text-align: center;
  }
}


@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }

  .stepper-steps {
    height: 105px;
  }
  .stepper-step::after {
    height: 0px;
  }
  .stepper-step:first-child {
    text-align: center;
  }
}


@media (max-width: 419px) {
  .hidden-xxs {
    display: none;
  }

  .stepper-steps {
    height: 105px;
}
  .stepper-step::after {
    height: 0px;
  }
  .stepper-step:first-child {
    text-align: center;
  }
}

