﻿@model List<WebPortal.Model.T_MsMenuContent>
@{
    ViewBag.Title = "Web Portal | Location Map";
}


<body>
    <div id="wrapper">
        <section id="featured">
            <!-- start slider -->
            <!-- Slider -->
            <div id="nivo-slider">
                <div class="nivo-slider">
                    <img src="~/Design/images/Location Map.jpg" alt="" title="#caption-1" />
                </div>
            </div>
            <!-- end slider -->
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span12 text-center">
                        <img class="item-thumbs design" src="~/Design/images/Map.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

