﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <!-- Bootstrap fileupload css -->
    <link href="~/lib/fap-van/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <!-- Picker css -->
    <link href="~/lib/fap-van/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!-- App css -->
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/stepper/stepper.css" rel="stylesheet" type="text/css" />
    <!-- Summernote css -->
    <link href="~/lib/fap-van/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Toastr -->
    <link href="~/lib/fap-van/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!--Footable-->
    <link href="~/lib/fap-van/plugins/footable/css/footable.core.css" rel="stylesheet">
    <!-- DataTables -->
    <link href="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Custom css -->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimScrollDiv active" style="position: relative; overflow: hidden; width: auto; height: 637px;">
                <div class="slimscroll-menu in" id="remove-scroll" style="overflow: hidden; width: auto; height: 637px;">
                    <!-- User box -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>
                        <h5><a href="#">PT Vendor</a> </h5>
                        <p class="text-muted">Admin Vendor</p>
                    </div>
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        @await Html.PartialAsync("~/Views/Shared/Partial/_SideMenu.cshtml")
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 637px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Top Bar Start -->
            @await Html.PartialAsync("~/Views/Shared/Partial/_TopBar.cshtml")
            <!-- Top Bar End -->
            <!-- Start Page content -->
            @RenderBody()
            <!-- End of Content -->
            <footer class="footer">
                2019 © FAP Group.
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!-- App Js -->
    <script src="~/lib/fap-van/assets/js/metisMenu.min.js"></script>
    <script src="~/lib/fap-van/assets/js/waves.js"></script>
    <script src="~/lib/fap-van/assets/js/jquery.slimscroll.js"></script>
    <script src="~/lib/fap-van/assets/js/jquery.app.js"></script>
    <script src="~/lib/fap-van/assets/js/jquery.core.js"></script>
    <!-- MDB -->
    <!-- Bootstrap tooltips -->
    <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
    <script src="~/webportal/webportal.bundle.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-maxlength/bootstrap-maxlength.js" type="text/javascript"></script>
    <!-- DataTables -->
    <script src="~/lib/fap-van/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <!-- Init Js file -->
    @*<script type="text/javascript" src="~/lib/fap-van/assets/pages/jquery.form-advanced.init.js"></script>*@
    @RenderSection("Scripts", required: false)

</body>
</html>
