﻿@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>@ViewData["Title"] - WebPortal</title>

    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/fap-van/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/lib/fap-van/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/lib/fap-van/assets/images/favicon-16x16.png">
    <link rel="manifest" href="~/lib/fap-van/assets/images/site.webmanifest">
    <link rel="mask-icon" href="~/lib/fap-van/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/mdb/css/landing-vendor.css" rel="stylesheet">
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body>

    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/lib/fap-van/assets/images/logo-white.png"></a>
            </div>
        </nav>

    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main>

        <div class="container-fluid mb-5">

            <!--Grid row-->
            <div class="row d-flex justify-content-center mtop">

                <!-- Material form -->
                <div class="card col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 p-0">

                    <ul class="nav nav-tabs nav-justified md-tabs custom-color-dark" id="myTabJust" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
                               aria-selected="true"><i class="fa fa-user pr-2"> </i>Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
                               aria-selected="false"><i class="fa fa-user-plus pr-2"></i>Register</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-4" id="myTabContentJust">

                        <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">

                            <div class="text-center mt-2">
                                <h4 class="font-weight-normal text-center text-dark">Job Applicant</h4>
                            </div>

                            <form role="form" class="form-login" novalidate>
                                <div class="mb-1 p-3">
                                    <div class="md-form md-outline">
                                        <input type="email" name="loginUserId" id="loginUserId" class="form-control validate" required>
                                        <label id="lblLoginUserId" for="loginUserId">Email</label>
                                    </div>
                                    <div class="md-form md-outline">
                                        <input type="password" name="loginPassword" id="loginPassword" class="form-control validate" required>
                                        <label id="lblLoginPassword" for="loginPassword">Password</label>
                                    </div>

                                    <div class="d-flex justify-content-around mt-0">
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input font-smaller" id="defaultLoginFormRemember">
                                                <label class="custom-control-label grey-text font-small" for="defaultLoginFormRemember">Remember me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="" class="grey-text font-small">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="button" class="btn btn-custom btn-rounded z-depth-1a btn-submit">Sign in</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">

                            <div class="text-center mt-2">
                                <h4 class="font-weight-normal text-center text-dark">Job Applicant</h4>
                            </div>

                            <form role="form" class="form-register" novalidate>
                                <div class="mb-1 p-3">
                                    <div class="md-form md-outline">
                                        <input type="email" id="registerEmail" name="registerEmail" class="form-control validate" required>
                                        <label for="registerEmail" id="lblRegisterEmail">Email</label>
                                    </div>

                                    <div class="md-form md-outline">
                                        <input type="password" id="registerPassword" name="registerPassword" class="form-control validate" required>
                                        <label for="registerPassword" id="lblRegisterPassword">Password</label>
                                    </div>

                                    <div class="md-form md-outline">
                                        <input type="password" id="registerConfirmPassword" name="registerConfirmPassword" class="form-control validate" required>
                                        <label for="registerConfirmPassword" id="lblRegisterConfirmPassword">Repeat Password</label>
                                    </div>

                                    <div class="text-center form-sm">
                                        <button type="button" class="btn btn-custom btn-rounded z-depth-1a btn-submit-register">Register</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- Material form -->
            </div>
        </div>

        <div class="container">
            <section class="section wow fadeIn" data-wow-delay="0.3s">

                <!--Section heading-->
                <h1 class="font-weight-bold text-center h1 my-5">Welcome Job Applicant</h1>
                <!--Section description-->
                <p class="text-center grey-text mb-5 mx-auto w-responsive lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

            </section>
        </div>

    </main>
    <!--Main Layout-->
    <!--Footer-->
    <footer class="page-footer grey lighten-3 text-center text-md-left">

        <!--Copyright-->
        <div class="footer-copyright text-center py-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                © 2019 Copyright: <a href="http://fap-agri.com"> FAP Group </a>

            </div>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <!-- MDB -->
    <!-- Bootstrap tooltips -->
    <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
    <script src="~/webportal/webportal.bundle.js" type="text/javascript"></script>
    <script src="~/webportal/account/login-mdb.js"></script>
    <script src="~/webportal/account/register-mdb.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>
