﻿@{
    ViewBag.Title = "Web Portal";
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Dashboard Employee First Resources Limited" name="description" />
    <meta content="First Resources Limited" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    @Styles.Render("~/Content/CSS")
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
    @*<meta name="google-signin-client_id" content="689595046615-un8ah0lt3enbim4uq76heokohg9l185n.apps.googleusercontent.com">*@
    @*<meta name="google-signin-client_id" content="171330679351-ipi4tevda385i3gofp9jj886mijab9pd.apps.googleusercontent.com">*@


    @* Login Google Account *@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '171330679351-ipi4tevda385i3gofp9jj886mijab9pd.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
                attachSignin(document.getElementById('customBtn'));
            });
        };

        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    onSignIn(googleUser);
                }, function (error) {
                    //alert(JSON.stringify(error, undefined, 2));
                });
        }
    </script>
</head>
@*<body>
    <section class="login-block" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-8 banner-sec" style="background-color:cyan">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Web Portal</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 login-sec">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">First Resources Group</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="active" id="login-form-link">
                                    <h5 class="text-center">Sign In</h5>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" id="register-form-link">
                                    <h5 class="text-center">Sign Up</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form id="login-form" class="login-form">
                        <div class="form-group">
                            <input type="text" id="loginUserId" class="form-control" placeholder="Email" onkeypress="return enterKey_Submit_Login(event)">
                        </div>
                        <div style="float: right;">
                            <a href="/Home/ResetPage" id="reset-form-link" tabindex="5" class="forgot-password">Forgot your password?</a>
                        </div>
                        <div class="form-group">
                            <input type="password" id="loginPassword" class="form-control" placeholder="Password" onkeypress="return enterKey_Submit_Login(event)">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-login form-control" onclick="Login()"><i class="icon-signin"></i>Login</button>
                        </div>
                        <div style="margin-top: -10px;">
                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                            Stay signed in
                        </div>
                        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                            or Sign in with
                        </div>
                        <div class="form-group">
                            <div id="gSignInWrapper">
                                <div id="customBtn" class="customGPlusSignIn">
                                    <span class="icon"></span>
                                    <span class="buttonText">Google</span>
                                </div>
                            </div>
                            <script>startApp();</script>
                        </div>
                    </form>
                    <form id="register-form" class="register-form" style="display: none;">
                        <div class="form-group">
                            <input type="text" id="registerEmail" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" id="registerUsername" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" id="registerPassword" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" id="registerConfirmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                @Html.DropDownList("registerUserType", new List<SelectListItem>  
                                    {  
                                       new SelectListItem{ Text="Customer", Value = "C" },  
                                       new SelectListItem{ Text="Vendor", Value = "V" },
                                       new SelectListItem{ Text="Job Applicant", Value = "J" }
                                    }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-login float-right form-control" onclick="Register()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>*@
<body class="account-pages">

    <div class="wrapper-page account-page-full">

        <div class="card shadow-lg">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-4">
                        <h2 class="text-uppercase text-center pb-4">
                            <a href="#" class="text-success">
                                <span>
                                    <img src="@Url.Content("~/Content/images/logo.png")" alt="" height="75"></span>
                            </a>
                        </h2>

                        <form class="login-form" name="login-form">

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <h4 for="register">Sign in</h4>
                                </div>
                            </div>

                            <div class="form-group m-b-20 row">
                                <div class="col-12">
                                    <label for="emailaddress">Email address</label>
                                    <input class="form-control" type="text" name="loginUserId" id="loginUserId" required="" placeholder="Enter your email">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <a href="@Url.Action("ResetPage", "Home")" class="text-muted float-right"><small>Forgot your password?</small></a>
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="loginPassword" required="" id="loginPassword" placeholder="Enter your password">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <div class="checkbox checkbox-custom">
                                        <input id="remember" name="remember" type="checkbox">
                                        <label for="remember">
                                            Remember me                                         
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10 wrap-msg-global">
                                <div class="col-12 wrap-btn">
                                    <button class="btn btn-block btn-custom waves-effect waves-light login-btn" type="submit" id="sa-success">Sign In</button>
                                </div>
                            </div>
                        </form>

                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">or sign in with?</p>
                                <button type="button" class="btn btn-block btn-googleplus waves-effect waves-light">
                                    <i class="fa fa-google m-r-5"></i>Google                                  
                                </button>
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Don't have an account? <a href="@Url.Action("Register", "Home")" class="text-dark m-l-5"><b>Register</b></a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © FAP Group.</p>
        </div>

    </div>
    <script src="~/Scripts/helper.js" type="text/javascript"></script>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var tempMessage = '@TempData["SessionStatus"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }

        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='login-form']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                loginUserId: "required",
                password: {
                    required: true,
                    minlength: 5
                }
            },
            // Specify validation error messages
            messages: {
                //firstname: "Please enter your firstname",
                //lastname: "Please enter your lastname",
                loginUserId: "Please enter your username",
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                showLoading($(".login-btn"));
                setTimeout(function () {
                    $.when(Login()).done(function (data) {
                        removeLoading($(".login-btn span"));
                    });
                }, 500);
            }
        });
    });

    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        //console.log('Full Name: ' + profile.getName());
        //console.log('Given Name: ' + profile.getGivenName());
        //console.log('Family Name: ' + profile.getFamilyName());
        //console.log("Image URL: " + profile.getImageUrl());
        //console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);

        var UserId = profile.getEmail();
        var Username = profile.getName();
        var Email = profile.getEmail();

        var getParams = {
            "UserId": UserId,
            "Username": Username,
            "Email": Email
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/LoginGoogle',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    if (result.AccountStatus) {
                        redirecttoHomePage();
                    } else {
                        if (result.Message == "OK") {
                            redirecttoActivatePage();
                        } else {
                            redirecttoChooseTypePage(result.GeneratedString);
                        }
                    }
                } else {
                    redirecttoChooseTypePage(result.GeneratedString);
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    };

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    $('#login-form-link').click(function (e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function (e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });

    function movetoLogin() {
        $("#login-form").delay(100).fadeIn(100);
        $("#reset-form").fadeOut(100);
    }

    function Login() {
        var deferred = $.Deferred();

        var UserId = document.getElementById('loginUserId').value;
        var Password = document.getElementById('loginPassword').value;
        var getParams = {
            "UserId": UserId,
            "Password": Password
        };

        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/Login',
            context: document.body,
            data: getParams,
            success: function (result, status, xhr) {
                if (result.Status) {
                    fnRemember();
                    $("#login-global-msg-error").remove();

                    if (result.AccountStatus) {
                        redirecttoHomePage();
                    } else {
                        $(".wrap-btn").before('<label id="login-global-msg-error" class="error">Please activate your email before login.</label>');
                    }
                } else {
                    var unknownUser = result.Message;

                    if (unknownUser.includes("unknown")) {
                        $(".wrap-btn").before('<label id="login-global-msg-error" class="error">Username or Email not Registered.</label>');
                    } else {
                        $(".wrap-btn").before('<label id="login-global-msg-error" class="error">Username and Password not match. Please Try again or Contact Administrator.</label>');
                    }
                }

                deferred.resolve(result);
            },
            error: function (result, status, xhr) {
                deferred.reject(result);
            }
        });

        return deferred.promise();
    }

    function enterKey_Submit_Login(e) {
        if (e.which == 13) {
            Login();
        }
    }

    function fnRemember() {
        var rememberMe = document.getElementById('remember');

        if (rememberMe.checked) {
            var UserId = document.getElementById('loginUserId').value;
            var Password = document.getElementById('loginPassword').value;

            setCookie('reId', UserId, 30);
            setCookie('rePass', Password, 30);
        }
    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function redirecttoHomePage() {
        window.location.href = '@Url.Action("Index", "Home")';
    }

    function redirecttoActivatePage() {
        window.location.href = '@Url.Action("ActivatePage", "Home")';
    }

    function redirecttoChooseTypePage(regId) {
        window.location.href = '@Url.Action("ChooseTypePage", "Home")?regId=' + regId;
    }
</script>
