.md-form.md-outline .form-control {
  padding: .5rem .75rem;
}
.md-form.md-outline input[type=date].form-control.invalid+label:after, .md-form.md-outline input[type=date].form-control:focus.invalid+label:after, .md-form.md-outline input[type=datetime-local].form-control.invalid+label:after, .md-form.md-outline input[type=datetime-local].form-control:focus.invalid+label:after, .md-form.md-outline input[type=email].form-control.invalid+label:after, .md-form.md-outline input[type=email].form-control:focus.invalid+label:after, .md-form.md-outline input[type=number].form-control.invalid+label:after, .md-form.md-outline input[type=number].form-control:focus.invalid+label:after, .md-form.md-outline input[type=password].form-control.invalid+label:after, .md-form.md-outline input[type=password].form-control:focus.invalid+label:after, .md-form.md-outline input[type=search-md].form-control.invalid+label:after, .md-form.md-outline input[type=search-md].form-control:focus.invalid+label:after, .md-form.md-outline input[type=search].form-control.invalid+label:after, .md-form.md-outline input[type=search].form-control:focus.invalid+label:after, .md-form.md-outline input[type=tel].form-control.invalid+label:after, .md-form.md-outline input[type=tel].form-control:focus.invalid+label:after, .md-form.md-outline input[type=text].form-control.invalid+label:after, .md-form.md-outline input[type=text].form-control:focus.invalid+label:after, .md-form.md-outline input[type=time].form-control.invalid+label:after, .md-form.md-outline input[type=time].form-control:focus.invalid+label:after, .md-form.md-outline input[type=url].form-control.invalid+label:after, .md-form.md-outline input[type=url].form-control:focus.invalid+label:after, .md-form.md-outline textarea.md-textarea.form-control.invalid+label:after, .md-form.md-outline textarea.md-textarea.form-control:focus.invalid+label:after,.md-form.md-outline input[type=date].form-control.valid+label:after, .md-form.md-outline input[type=date].form-control:focus.valid+label:after, .md-form.md-outline input[type=datetime-local].form-control.valid+label:after, .md-form.md-outline input[type=datetime-local].form-control:focus.valid+label:after, .md-form.md-outline input[type=email].form-control.valid+label:after, .md-form.md-outline input[type=email].form-control:focus.valid+label:after, .md-form.md-outline input[type=number].form-control.valid+label:after, .md-form.md-outline input[type=number].form-control:focus.valid+label:after, .md-form.md-outline input[type=password].form-control.valid+label:after, .md-form.md-outline input[type=password].form-control:focus.valid+label:after, .md-form.md-outline input[type=search-md].form-control.valid+label:after, .md-form.md-outline input[type=search-md].form-control:focus.valid+label:after, .md-form.md-outline input[type=search].form-control.valid+label:after, .md-form.md-outline input[type=search].form-control:focus.valid+label:after, .md-form.md-outline input[type=tel].form-control.valid+label:after, .md-form.md-outline input[type=tel].form-control:focus.valid+label:after, .md-form.md-outline input[type=text].form-control.valid+label:after, .md-form.md-outline input[type=text].form-control:focus.valid+label:after, .md-form.md-outline input[type=time].form-control.valid+label:after, .md-form.md-outline input[type=time].form-control:focus.valid+label:after, .md-form.md-outline input[type=url].form-control.valid+label:after, .md-form.md-outline input[type=url].form-control:focus.valid+label:after, .md-form.md-outline textarea.md-textarea.form-control.valid+label:after, .md-form.md-outline textarea.md-textarea.form-control:focus.valid+label:after {
  top: 3.9rem;
}
.md-form.md-outline {
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.md-form .validate {
  margin-bottom: 1.7rem;
}
.navbar .navbar-brand img {
    height: 40px;
}
.btn-custom {
  background-color: #5e0000;
  border-color: #5e0000;
}
  .btn-custom {
  color: #ffffff !important;
}
.custom-color-dark {
  background-color: #5e0000!important;
}
.md-form label.active {
  font-size: 1rem;
}
.modal-footer {
  justify-content: center;
}
.btn-outline-custom {
  border: 2px solid #5e0000!important;
  background-color: transparent!important;
  color: #5e0000!important;
}
.md-tabs {
  margin: -1.5rem 1rem 0;
}