﻿@model WebPortal.Model.T_Tutorial
@{
    ViewBag.Title = "Web Portal | Upload Tutorial";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit existing <strong>Tutorial</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Tutorial/ListTutorial" class="btn btn-purple" onclick = "return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("EditTutorial", "Tutorial", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span12 form-group">
                                @Html.HiddenFor(model => model.TutorialCode)
                                @Html.TextBoxFor(model => model.TutorialTitle, new { @id = "TutorialTitle", @class = "form-control span8", @placeholder = "*Tutorial Title" })
                                @Html.ValidationMessageFor(model => model.TutorialTitle, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.TextBoxFor(model => model.TutorialDescription, new { @id = "TutorialDescription", @class = "form-control", @placeholder = "*Tutorial Description" })
                                @Html.ValidationMessageFor(model => model.TutorialDescription, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.DropDownListFor(model => model.TutorialParent, ViewBag.parentList as SelectList, "*Tutorial Parent", new { @class = "form-control" })
                                <a href="/Tutorial/CreateParent" class="btn btn-yellow" style="margin-top:-12px"><i class="icon-plus"></i> Add New</a>
                            </div>
                            <div class="span12 form-group">
                                @Html.ValidationMessageFor(model => model.TutorialParent, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.VideoName, new { @id = "videoname", @class = "form-control", @readonly = "readonly", @placeholder = "*Video Name" })
                                @Html.HiddenFor(model => model.VideoPath, new { @id = "videopath" })
                                @Html.ValidationMessageFor(model => model.VideoName, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span1 form-group btn btn-primary">
                                Browse
                                @Html.TextBox("uploadVideo", null, new { @id = "cmdBrowse", @onchange = "setVideoName()", @type = "file", @style = "width:85px;margin-top:-24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                            </div>
                            <div class="span6" style="height:50px"></div>
                            <div class="span12 margintop10 form-group">
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Edit Tutorial</button>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

    function setVideoName() {
        var file = $("#cmdBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#videoname").val(file.substring(lastindex, len));
        $("#videopath").val($("#cmdBrowse").val());
    }

</script>
