﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Tutorial";
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Tutorial
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            @using (Html.BeginForm("Index", "Tutorial", FormMethod.Post))
                            {
                                @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0; width:704px", @class = "span8", @placeholder = "search keyword..." })
                                <button type="submit" class="btn btn-medium icon-search"></button>
                            }
                        </div>
                        @foreach (var tutorial in Model.listTutorial)
                        {
                            <article style="margin-bottom: 0px">
                                <div class="row" style="margin-bottom: 0px">
                                    <div class="span8">
                                        <div class="post-heading">
                                            <h4 style="margin-bottom: 0px"><a href="/Tutorial/ViewTutorial/?tutorialCode=@tutorial.TutorialCode">@tutorial.TutorialTitle</a></h4>
                                        </div>
                                        <p>@tutorial.CreatedBy - @tutorial.CreatedDate.ToString("dd MMM yyyy")</p>
                                        <div class="post-heading">
                                            <p style="margin-top: 20px">@tutorial.TutorialDescription</p>
                                        </div>
                                        <div class="bottom-article" style="margin-top: 0px">
                                            <ul class="meta-post">
                                                <li><i class="icon-book"></i>@tutorial.TutorialParentTitle</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 0px">
                                    <div class="span8">
                                        <div class="solidline">
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        <div id="pagination">
                            @if (Model.toFirst)
                            {
                                <a href="/Tutorial/Index/?Page=1" class="inactive"><<</a>
                            }

                            @for (int i = Model.startPage; i <= Model.endPage; i++)
                            {
                                if (i == Model.currentPage)
                                {
                                <span class="current">@i</span>
                                }
                                else
                                {
                                <a href="/Tutorial/Index/?Page=@i" class="inactive">@i</a>
                                }
                            }

                            @if (Model.toLast)
                            {
                                <a href="/Tutorial/Index/?Page=@Model.totalPages" class="inactive">>></a>
                            }
                        </div>
                    </div>
                    <div class="span4">
                        <aside class="right-sidebar">
                            <div class="widget">
                                <h5 class="widgetheading">Project</h5>
                                <ul class="cat">
                                    <li><i class="icon-angle-right"></i><a href="/Tutorial/Index/?Project=">All</a><span> (@Model.totalItem)</span></li>
                                    @foreach (var project in Model.listTutorialProject)
                                    {
                                        <li><i class="icon-angle-right"></i><a href="/Tutorial/Index/?Project=@project.ProjectCode">@project.TutorialProject</a><span> (@project.TotalTutorial)</span></li>
                                    }
                                </ul>
                            </div>
                            <div class="widget">
                                <h5 class="widgetheading">Latest tutorials</h5>
                                <ul class="recent">
                                    @foreach (var latest in Model.listLatestTutorial)
                                    {
                                        <li>
                                            <h6><a href="/Tutorial/ViewTutorial/?tutorialCode=@latest.TutorialCode">@latest.TutorialTitle</a></h6>
                                            <p>
                                                @latest.TutorialDescription
                                            </p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

