﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Edit Tutorial";
}
@{
    int num = Model.startIndexItem;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="inner-heading">
                        <h2>Edit Posted <strong>Tutorial</strong></h2>
                    </div>
                </div>
                <div class="span6">
                    <div class="inner-heading breadcrumbdiv">
                        @using (Html.BeginForm("ListTutorial", "Tutorial", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0" })
                            <button type="submit" class="btn btn-medium icon-search"></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Tutorial/UploadTutorial" class="btn btn-purple"><i class="icon-upload-alt"></i>Upload New Tutorial</a>
                </div>
            </div>
            
            @foreach (var category in Model.listTutorial.Where(w => w.TutorialParent == null).OrderBy(o => o.Id))
            {
                if (Model.listTutorial.Where(item => item.TutorialCode.Substring(0, 1) == category.TutorialCode && item.TutorialParent != null).Count() > 0)
                {
                <div class="row">
                    <div class="span12">
                        <h4>@category.TutorialTitle - @category.TutorialDescription</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th style="display: none">Id
                                    </th>
                                    <th>Title
                                    </th>
                                    <th>Description
                                    </th>
                                    <th>Parent
                                    </th>
                                    <th>Posted By
                                    </th>
                                    <th>Posted Date
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listTutorial.Where(item => item.TutorialCode.Substring(0, 1) == category.TutorialCode && item.TutorialParent != null).OrderBy(o => o.TutorialCode))
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="display: none">@item.Id
                                        </td>
                                        <td style="width: 20%">@item.TutorialTitle
                                        </td>
                                        <td style="width: 21%">@item.TutorialDescription
                                        </td>
                                        <td style="width: 20%">@item.TutorialParentTitle
                                        </td>
                                        <td style="width: 12%">@(item.ModifyBy == null ? item.CreatedBy : item.ModifyBy)
                                        </td>
                                        <td style="width: 12%">@(item.ModifyDate == null ? item.CreatedDate.ToString("dd MMM yyyy") : item.ModifyDate.GetValueOrDefault().ToString("dd MMM yyyy"))
                                        </td>
                                        <td style="width: 10%"><a href="/Tutorial/EditTutorial/?tutorialCode=@item.TutorialCode" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="/Tutorial/DeleteTutorial/?tutorialCode=@item.TutorialCode" class="btn btn-red" onclick = "return confirm('Are you wish to delete this news?');"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
            }
            <div id="pagination">
                @if (Model.toFirst)
                {
                    <a href="/Tutorial/ListTutorial/?Page=1" class="inactive"><<</a>
                }

                @for (int i = Model.startPage; i <= Model.endPage; i++)
                {
                    if (i == Model.currentPage)
                    {
                    <span class="current">@i</span>
                    }
                    else
                    {
                    <a href="/Tutorial/ListTutorial/?Page=@i" class="inactive">@i</a>
                    }
                }

                @if (Model.toLast)
                {
                    <a href="/Tutorial/ListTutorial/?Page=@Model.totalPages" class="inactive">>></a>
                }
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>


