@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

    <ul class="metismenu" id="side-menu">
        @if ((string)ViewData["UserLevel"] == "VENDOR")
        {
            <li>
                <a href="@Url.Action("Dashboard", "Vendor")" id="link-vendor-dashboard">
                    <i class="fa fa-home"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Data", "Vendor")" id="link-vendor-data">
                    <i class="fa fa-edit"></i><span>Vendor</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Profile", "Vendor")" id="link-vendor-profile">
                    <i class="fa fa-user-o"></i><span>Profile</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);"><i class="fa fa-envelope-o"></i><span> Message </span> <span class="menu-arrow"></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("Compose", "Vendor")">Compose</a></li>
                    <li><a href="@Url.Action("Inbox", "Vendor")">Inbox</a></li>
                    <li><a href="@Url.Action("Sent", "Vendor")">Sent</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);"><i class="fa fa-file-text-o"></i><span> Invoice </span> <span class="menu-arrow"></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("InvoiceSend", "Vendor")">Send</a></li>
                    <li><a href="@Url.Action("InvoiceStatus", "Vendor")">Status</a></li>
                </ul>
            </li>
        }
        else if ((string)ViewData["UserLevel"] == "ADMIN")
        {
            <li>
                <a href="@Url.Action("Dashboard", "Admin")">
                    <i class="fa fa-home"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false"><i class="fa fa-id-card-o"></i><span> Vendor </span> <span class="menu-arrow"></span></a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li><a href="@Url.Action("Vendor", "Admin")">Waiting Verify @*<span class="badge badge-notification float-right">3</span>*@</a></li>
                    <li><a href="admin-vendor-list-verify.html">Verify</a></li>
                </ul>
            </li>
        }
        else if ((string)ViewData["UserLevel"] == "JOB_APPLICANT")
        {
            <li>
                <a href="@Url.Action("Dashboard", "JobApplicant")" id="link-jobapp-dashboard">
                    <i class="fa fa-home"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="jobapplicant-data.html">
                    <i class="fa fa-edit"></i><span>Job Applicant</span>
                </a>
            </li>
            <li>
                <a href="jobapplicant-profile.html">
                    <i class="fa fa-user-o"></i><span>Profile</span>
                </a>
            </li>
        }
    </ul>
<script>
    (function () {
        if ('@controller'.toLowerCase() == 'vendor') {
            switch ('@action'.toLowerCase()) {
                case 'dashboard':
                    document.getElementById('link-vendor-dashboard').classList.add('active');
                    break;
                case 'bankpayment':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'legal':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'tax':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'products':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'integritypact':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'masteragreement':
                    document.getElementById('link-vendor-data').classList.add('active');
                    break;
                case 'profile':
                    document.getElementById('link-vendor-profile').classList.add('active');
                    break;
                default:
                    break;
            }
        } else if (('@controller'.toLowerCase() == 'jobapplicant')) {
            switch ('@action'.toLowerCase()) {
                case 'dashboard':
                    document.getElementById('link-jobapp-dashboard').classList.add('active');
                    break;
                default:
                    break;
            }
        }
    })();
</script>