/* =============
   Buttons
============= */
.btn {
  border-radius: 2px;
  font-size: $font-size-base;
  outline: none !important;
  padding: .375rem 1.1rem;
  text-transform: none;
}

.btn-group-sm>.btn, .btn-sm{
  padding: .2rem .8rem;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .7rem 1.6rem;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,.1) inset;
  box-shadow: 0 0 0 100px rgba(0,0,0,.1) inset;
}

.dropdown-toggle-split {
  padding-right: .5625rem;
  padding-left: .5625rem;
}
.dropleft {
  .dropdown-toggle-split {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn-custom,.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-inverse, .btn-purple, .btn-pink{
  color: $white !important;
}

.btn-custom {
  background-color: $custom;
  border-color: $custom;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active,
.btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover,
.open > .dropdown-toggle.btn-custom  {
  background-color: darken($custom, 5%);
  border: 1px solid darken($custom, 5%);
}

.btn-custom.focus, .btn-custom:focus,.btn-outline-custom.focus, .btn-outline-custom:focus,
.btn-custom:not([disabled]):not(.disabled).active, .btn-custom:not([disabled]):not(.disabled):active, .show>.btn-custom.dropdown-toggle {
  box-shadow: 0 0 0 2px rgba($custom,.5);
}

.btn-primary{
  background-color: $primary;
  border: 1px solid $primary;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary,.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle   {
  background-color: darken($primary, 5%);
  border-color: darken($primary, 5%);
}

.btn-primary.focus, .btn-primary:focus,.btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary:not([disabled]):not(.disabled).active:focus, .btn-primary:not([disabled]):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 2px rgba($primary,.5);
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.btn-secondary.focus, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary {
  background-color: darken($secondary, 5%);
  border-color: darken($secondary, 5%);
}

.btn-secondary.focus, .btn-secondary:focus,.btn-outline-secondary.focus, .btn-outline-secondary:focus{
  box-shadow: 0 0 0 2px rgba($light7,0.5);
}

.btn-light {
  border-color: $light;
}
.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active,
.btn-light.focus, .btn-light:active, .btn-light:focus, .btn-light:hover,
.open > .dropdown-toggle.btn-light  {
  border-color: darken($white, 25%);
}

.btn-light.focus, .btn-light:focus,.btn-outline-light.focus, .btn-outline-light:focus {
  box-shadow: 0 0 0 2px darken($white,15%);
}

.btn-success {
  background-color: $success;
  border: 1px solid $success;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success,
.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle{
  background-color: darken($success, 5%);
  border-color: darken($success, 5%);
}

.btn-success.focus, .btn-success:focus,.btn-outline-success.focus, .btn-outline-success:focus,
.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle,
.btn-success:not([disabled]):not(.disabled).active:focus, .btn-success:not([disabled]):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
  box-shadow: 0 0 0 2px rgba($success,.5);
}

.btn-info {
  background-color: $info;
  border: 1px solid $info;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover,
.open > .dropdown-toggle.btn-info,.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
  background-color: darken($info, 5%);
  border-color: darken($info, 5%);
}

.btn-info.focus, .btn-info:focus,.btn-outline-info.focus, .btn-outline-info:focus,
.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle,
.btn-info:not([disabled]):not(.disabled).active:focus, .btn-info:not([disabled]):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus{
  box-shadow: 0 0 0 2px rgba($info,.5);
}

.btn-warning {
  background-color: $warning;
  border: 1px solid $warning;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active,
.btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning ,.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
  background-color: darken($warning, 5%);
  border-color: darken($warning, 5%);
}

.btn-warning.focus, .btn-warning:focus,.btn-outline-warning.focus, .btn-outline-warning:focus,
.btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle,
.btn-warning:not([disabled]):not(.disabled).active:focus, .btn-warning:not([disabled]):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus{
  box-shadow: 0 0 0 2px rgba($warning,.5);
}

.btn-danger {
  background-color: $danger;
  border: 1px solid $danger;
}
.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus,
.btn-danger:hover, .open > .dropdown-toggle.btn-danger,.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
  background-color: darken($danger, 5%);
  border-color: darken($danger, 5%);
}

.btn-danger.focus, .btn-danger:focus,.btn-outline-danger.focus, .btn-outline-danger:focus,
.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle,
.btn-danger:not([disabled]):not(.disabled).active:focus, .btn-danger:not([disabled]):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus{
  box-shadow: 0 0 0 2px rgba($danger,.5);
}

.btn-dark {
  background-color: $dark;
  border: 1px solid $dark;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark {
  background-color: darken($dark, 5%);
  border-color: darken($dark, 5%);
}

.btn-dark.focus, .btn-dark:focus,.btn-outline-dark.focus, .btn-outline-dark:focus,
.btn-dark:not([disabled]):not(.disabled).active, .btn-dark:not([disabled]):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
  box-shadow: 0 0 0 2px rgba($dark,.5);
}

.btn-purple {
  background-color: $purple;
  border: 1px solid $purple;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background-color: darken($purple, 5%);
  border-color: darken($purple, 5%);
}

.btn-purple.focus, .btn-purple:focus,.btn-outline-purple.focus, .btn-outline-purple:focus {
  box-shadow: 0 0 0 2px rgba($purple,.5);
}

.btn-pink {
  background-color: $pink;
  border: 1px solid $pink;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
  background-color: darken($pink, 5%);
  border-color: darken($pink, 5%);
}

.btn-pink.focus, .btn-pink:focus,.btn-outline-pink.focus, .btn-outline-pink:focus {
  box-shadow: 0 0 0 2px rgba($pink,.5);
}



/* button Outline */
.btn-outline-custom {
  color: $custom;
  border-color: $custom;
  background-image: none;
  background-color: transparent;

  &:hover {
    background-color: $custom;
    border-color: $custom;
    color: $white;
  }
}
.btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.btn-outline-success {
  color: $success;
  border-color: $success;

  &:hover {
    background-color: $success;
    border-color: $success;
  }
}
.btn-outline-info {
  color: $info;
  border-color: $info;

  &:hover {
    background-color: $info;
    border-color: $info;
  }
}
.btn-outline-warning {
  color: $warning;
  border-color: $warning;

  &:hover {
    background-color: $warning;
    border-color: $warning;
  }
}
.btn-outline-danger {
  color: $danger;
  border-color: $danger;

  &:hover {
    background-color: $danger;
    border-color: $danger;
  }
}
.btn-outline-dark {
  color: $dark;
  border-color: $dark;

  &:hover {
    background-color: $dark;
    border-color: $dark;
  }
}

.btn-outline-pink {
  color: $pink;
  background-image: none;
  background-color: transparent;
  border-color: $pink;

  &:hover {
    background-color: $pink;
    border-color: $pink;
    color: $white;
  }
}

.btn-outline-purple {
  color: $purple;
  background-image: none;
  background-color: transparent;
  border-color: $purple;

  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: $white;
  }
}



.btn-rounded {
  border-radius: 2em;
}

/* Social Buttons */
.btn-facebook {
  color: #3b5998 !important;
  background-color: $white;
  font-weight:600;
  
  i {
	position: absolute;
	top: 50%!important;
    left: 23px!important;
    transform: translateY(-50%)!important;
  }
}
.btn.btn-facebook .fa {
  position: absolute ;
}
.btn-twitter {
  color: $white !important;
  background-color: #00aced;
}
.btn-linkedin {
  color: $white !important;
  background-color: #007bb6;
}
.btn-dribbble {
  color: $white !important;
  background-color: #ea4c89;
}
.btn-googleplus {
  color: #dd4b39 !important;
  background-color: $white;
  font-weight:600;
  
  i {
	position: absolute;
	top: 50%!important;
    left: 23px!important;
    transform: translateY(-50%)!important;
  }
}
.btn.btn-googleplus .fa {
  position: absolute ;
}
.btn-instagram {
  color: $white !important;
  background-color: #517fa4;
}
.btn-pinterest {
  color: $white !important;
  background-color: #cb2027;
}
.btn-dropbox {
  color: $white !important;
  background-color: #007ee5;
}
.btn-flickr {
  color: $white !important;
  background-color: #ff0084;
}
.btn-tumblr {
  color: $white !important;
  background-color: #32506d;
}
.btn-skype {
  color: $white !important;
  background-color: #00aff0;
}
.btn-youtube {
  color: $white !important;
  background-color: #bb0000;
}
.btn-github {
  color: $white !important;
  background-color: #171515;
}

/* Button Gradient */
.btn-grad {
  color: #fff;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-grad:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color:$white;
}

.btn-grad:focus {
  outline: none;
}

.btn-grad.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-grad.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-grad.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-grad.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-grad.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-grad.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-grad.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-grad.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-grad.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-grad.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-grad.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.btn-grad.color-custom {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(94,0,0,1) 0%, rgba(147,0,0,1) 100.2% );
}