﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | News";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>News Update</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                @foreach (var news in Model.listNews)
                {
                    <article>
                        <div class="row">
                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="#">@news.Judul</a></h3>
                                    </div>
                                    <img src="@news.ImagePath" alt="" />
                                </div>
                                @foreach (string isiSplit in news.Isi.ToString().Split(';'))
                                {
                                    <p>
                                        @if (isiSplit.Contains("@h@"))
                                        {
                                            <strong>@isiSplit.Replace("@h@", "")</strong>
                                        }
                                        else
                                        {
                                            @isiSplit
                                        }
                                    </p>
                                }
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-calendar"></i><a href="#">@news.CreatedDate.ToString("dd MMM yyyy")</a></li>
                                        <li><i class="icon-user"></i><a href="#">@news.CreatedBy</a></li>
                                        @if (news.Attach != null)
                                        {
                                            <li><i class="icon-download-alt"></i><a href="/Document/DownloadFile/?urlPath=@news.AttachPath">Download Attachment</a></li>
                                        }
                                        <li><i class="icon-folder-open"></i><a href="/News/Index/?Category=@news.CategoryCode">@news.CategoryName</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                }
                @*<div class="comment-area">
                    <h4>@Model.listComment.Count Comments</h4>
                    @if (Model.listComment.Count > 0)
                    {
                        foreach (var comment in Model.listComment)
                        {
                        <div class="media">
                            <a href="#" class="thumbnail pull-left">
                                <img src="img/avatar.png" alt="" /></a>
                            <div class="media-body">
                                <div class="media-content">
                                    <h6><span>@comment.Date.ToString("dd MMM yyyy")</span> @comment.UserId</h6>
                                    <p>
                                        @comment.Field
                                    </p>
                                </div>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="media-content">
                                    <h6>There are currently no comments</h6>
                                </div>
                            </div>
                        </div>
                    }
                    <h4>Leave your comment</h4>
                    @if (Session["LogedUserId"] != null)
                    {
                        using (Html.BeginForm("Comment", "News", FormMethod.Post, new { @class = "comment-form", @enctype = "multipart/form-data" }))
                        {
                        <div class="row">
                            <div class="span8 margintop10">
                                <p>
                                    @Html.TextAreaFor(model => model.comment.Field, new { @class = "input-block-level", @rows = 12, @style = "resize:none;", @maxlength = 1024 })
                                    @Html.ValidationMessageFor(model => model.comment.Field, "", new { @style = "color: #a94442;" })
                                </p>
                                <p>
                                    @Html.HiddenFor(model => model.comment.IdComment, new { Value = Model.listNews.FirstOrDefault().Id })
                                    <button class="btn btn-theme margintop10" type="submit">Submit comment</button>
                                </p>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="media-content">
                                    <h6>Login to post your comment</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
            </div>
            <div class="span4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading">Categories</h5>
                        <ul class="cat">
                            <li><i class="icon-angle-right"></i><a href="/News/Index/?Category=-1">All</a><span> (@Model.totalItem)</span></li>
                            @foreach (var category in Model.listCategory)
                            {
                                <li><i class="icon-angle-right"></i><a href="/News/Index/?Category=@category.CategoryCode">@category.CategoryName</a><span> (@category.TotalNews)</span></li>
                            }
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Latest posts</h5>
                        <ul class="recent">
                            @foreach (var latest in Model.listLatestNews)
                            {
                                <li>
                                    <img src="@latest.ImagePath" class="pull-left img-news" alt="" />
                                    <h6><a href="/News/NewsDetail/?NewsId=@latest.Id">@latest.Judul</a></h6>
                                    <p>
                                        @latest.Caption
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>
