﻿@model WebPortal.Models.SearchModel
@{
    ViewBag.Title = "Web Portal | List Document";
}
@{
    int num = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Posted <strong>Document</strong></h2>
                    </div>
                </div>
                <div class="span8">
                    <div class="inner-heading breadcrumbdiv">
                        @using (Html.BeginForm("ListDocument", "Document", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0" })
                            <button type="submit" class="btn btn-medium icon-search"></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Document/Upload" class="btn btn-purple"><i class="icon-upload-alt"></i>Upload New Document</a>
                </div>
            </div>
            @foreach (var group in Model.listFile.OrderBy(g => g.IdFileGroup).Select(g => g.FileGroup).Distinct())
            {
                { num = 1; }               
                <div class="row">
                    <div class="span12">
                        <h4><strong>@group</strong></h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th style="display: none">Id
                                    </th>
                                    <th>File
                                    </th>
                                    <th>Description
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listFile.Where(item => item.FileGroup == group))
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="display: none">@item.Id
                                        </td>
                                        <td style="width: 35%">@item.FileName
                                        </td>
                                        <td style="width: 50%">@item.Description
                                        </td>
                                        <td style="width: 10%"><a href="/Document/DeleteFile/?FileID=@item.Id" class="btn btn-red" onclick = "return confirm('Are you wish to delete this file?');"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>
