﻿@model WebPortal.Model.T_Files
@{
    ViewBag.Title = "Web Portal | Upload";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Upload</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Document/ListDocument" class="btn btn-purple" onclick = "return confirm('Are you wish to discard this file?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("Upload", "Document", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>

                        <div class="row">
                            <div class="span2 form-group">
                                <h6>File Name :</h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.NameFile, new { @id = "filename", @class = "form-control", @readonly = "readonly", @placeholder = "File Name (max file size 10mb)" })
                                @Html.HiddenFor(model => model.LocationFile, new { @id = "locationfile" })
                                @Html.ValidationMessageFor(model => model.NameFile, "", new { @style = "color: #a94442;"})
                            </div>
                            <div class="span1 form-group btn btn-primary">
                                Browse
                                @Html.TextBox("uploadFile", null, new { @id = "cmdBrowse", @onchange = "setFileName()", @type = "file", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>File Group :</h6>
                            </div>
                            <div class="span6 form-group">
                                @Html.DropDownListFor(m => m.FileGroup, ViewBag.GroupList as SelectList, "Choose File Group", new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.FileGroup, "", new { @style = "color: #a94442;"})
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>File Description :</h6>
                            </div>
                            <div class="span10 form-group">
                                @Html.TextBoxFor(model => model.Description, new { @id = "description", @class = "form-control", @placeholder = "File Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @style = "color: #a94442;"})
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <button class="btn btn-large btn-theme margintop10" type="submit">Upload File</button>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        } 
    });

    function setFileName() {
        var file = $("#cmdBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#filename").val(file.substring(lastindex, len));
        $("#locationfile").val($("#cmdBrowse").val());
    }

</script>
