@{
    Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "Forgot Password";
}

<div class="wrapper-page account-page-full">
    <div class="card shadow">
        <div class="card-block">
            <div class="account-box">
                <div class="card-box p-4">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="#" class="text-success">
                            <span>
                                <img src="~/images/logo.png" alt="" height="75">
                            </span>
                        </a>
                    </h2>

                    <div class="text-center m-b-20">
                        <p class="text-muted m-b-0">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                    </div>

                    <form class="form-reset-password" name="form-reset-password">
                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="email" id="resetCredential" required="" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12 wrap-btn">
                                <button class="btn btn-block btn-custom waves-effect waves-light reset-btn" type="submit">Reset Password </button>
                            </div>
                        </div>
                    </form>

                    <div class="row m-t-20">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Back to <a href="@Url.Action("Login", "Account")" class="text-dark m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © FAP Group.</p>
    </div>
</div>

@section Scripts {
    <script src="~/webportal/account/forgot-password.js"></script>
}