@{
    Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "Login";
}

<div class="wrapper-page account-page-full">
    <div class="card shadow-lg">
        <div class="card-block">
            <div class="account-box">
                <div class="card-box p-4">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="@Url.Action("Index", "Home")" class="text-success">
                            <span>
                                <img src="~/images/logo.png" alt="" height="75">
                            </span>
                        </a>
                    </h2>
                    <form class="login-form" name="login-form">

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <h4 for="register">Sign in</h4>
                            </div>
                        </div>

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="text" name="loginUserId" id="loginUserId" required="" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <a href="@Url.Action("ForgotPassword", "Account")" class="text-muted float-right"><small>Forgot your password?</small></a>
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="loginPassword" required="" id="loginPassword" placeholder="Enter your password">
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="remember" name="remember" type="checkbox">
                                    <label for="remember">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10 wrap-msg-global">
                            <div class="col-12 wrap-btn">
                                <button class="btn btn-block btn-custom waves-effect waves-light login-btn" type="submit" id="sa-success">Sign In</button>
                            </div>
                        </div>
                    </form>

                    <div class="row m-t-20">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">or sign in with?</p>
                            <button type="button" class="btn btn-block btn-googleplus waves-effect waves-light">
                                <i class="fa fa-google m-r-5"></i>Google
                            </button>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="@Url.Action("Register", "Account")" class="text-dark m-l-5"><b>Register</b></a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © FAP Group.</p>
    </div>
</div>

@section Scripts {
    <script src="~/webportal/account/login.js"></script>
}
