@{   
    ViewData["Title"] = "My Profile";
}

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                </div>
                <h5><a href="#">PT Vendor</a> </h5>
                <p class="text-muted">Admin Vendor</p>
            </div>

            <!--- Sidemenu -->
            @await Html.PartialAsync("~/Views/Shared/Partial/_SideMenu.cshtml")  
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <!-- Top Bar Start -->
        <div class="topbar">

            <nav class="navbar-custom">
            
                <!-- LOGO -->
                <div class="logo-box">
                    <a href="#" class="logo">
                        <img src="~/images/logo.png" alt="" height="55">
                    </a>
                </div>

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <i class="fi-bell noti-icon"></i>
                            <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">


                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Notification</h5>
                            </div>

                            <div class="slimscroll" style="max-height: 230px;">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Complete your Data Vendor<small class="text-muted">1 min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">Your data is incomplete<small class="text-muted">5 hours ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">New Order<small class="text-muted">3 days ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Complete your Data Vendor<small class="text-muted">1 min ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">Your data is incomplete<small class="text-muted">5 hours ago</small></p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">New Order<small class="text-muted">3 days ago</small></p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>

                        </div>
                    </li>
                    
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <i class="fi-speech-bubble noti-icon"></i>
                            <span class="badge badge-custom badge-pill noti-icon-badge">6</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Inbox</h5>
                            </div>

                            <div class="slimscroll" style="max-height: 230px;">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">PT Customer</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our products?</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">PT Customer</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our products?</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">PT Customer</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our products?</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">PT Customer</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our products?</p>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">PT Customer</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our products?</p>
                                </a>
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="user" class="rounded-circle"> <span class="ml-1">Admin Vendor <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            <!-- item-->
                            <a href="dashboard-profile.html" class="dropdown-item notify-item">
                                <i class="fi-head"></i> <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-cog"></i> <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="logout.html" class="dropdown-item notify-item">
                                <i class="fi-power"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title"><span>FAP Group Vendor</span> Dashboard</h4>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->



        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
            
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h4 class="page-title-dashboard">Profile</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card-box border">
                            <div class="row">
                                <div class="col-xl-6">
                                    <h4 class="header-title">Data Vendor</h4>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nama Perusahaan/Pribadi</label>
                                        <p class="col-9 col-form-label">PT Vendor</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Alamat</label>
                                        <p class="col-9 col-form-label">Jalan Grogol No. 1 Jakarta Barat</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Alamat surat menyurat</label>
                                        <p class="col-9 col-form-label">Jalan Grogol No. 1 Jakarta Barat</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Phone/HP</label>
                                        <p class="col-9 col-form-label">081126456789</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Email</label>
                                        <p class="col-9 col-form-label">admin@vendor.com</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nama Penanggung Jawab</label>
                                        <p class="col-9 col-form-label">PT Vendor</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor KTP</label>
                                        <p class="col-9 col-form-label">32020405998</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor KTP</label>
                                        <p class="col-9 col-form-label">320-2045-05998</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Bidang Usaha</label>
                                        <p class="col-9 col-form-label">Perkebunan</p>
                                    </div>
                                    
                                    <h4 class="header-title">Pajak</h4>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor NPWP</label>
                                        <p class="col-9 col-form-label">123456789</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor SK Pengukuhan PKP</label>
                                        <p class="col-9 col-form-label">987654321</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">PPn</label>
                                        <p class="col-9 col-form-label">Yes</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">PPh</label>
                                        <p class="col-9 col-form-label">Yes</p>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <h4 class="header-title">Pembayaran</h4>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Masa Pembayaran</label>
                                        <p class="col-9 col-form-label">30 hari</p>
                                    </div>
                                    
                                    <h4 class="header-title">Legal</h4>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor SIUP</label>
                                        <p class="col-9 col-form-label">123456789
                                            <span class="help-block"><small><br/>Berlaku Sampai : 20-01-2020</small></span>
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor TDP</label>
                                        <p class="col-9 col-form-label">987654321
                                            <span class="help-block"><small><br/>Berlaku Sampai : 20-01-2022</small></span>
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Akta Pendirian</label>
                                        <p class="col-9 col-form-label"><a href="#">preview</a></p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">SK MenKunHam Pendirian</label>
                                        <p class="col-9 col-form-label"><a href="#">preview</a></p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Akta Perubahan</label>
                                        <p class="col-9 col-form-label"><a href="#">preview</a></p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">SK MenKunHam Perubahan</label>
                                        <p class="col-9 col-form-label"><a href="#">preview</a></p>
                                    </div>
                                    
                                    <h4 class="header-title">Bank</h4>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nama Bank</label>
                                        <p class="col-9 col-form-label">BCA</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Cabang</label>
                                        <p class="col-9 col-form-label">Jakarta</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Nomor Rekening</label>
                                        <p class="col-9 col-form-label">987654321</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- end row -->   
                        </div>	
                    </div> <!-- end col -->
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-8 offset-4">
                                <button type="submit" class="btn btn-custom waves-effect waves-light"  onclick=" window.open('vendor-data.html','_self')">
                                    <i class="fa fa-edit"></i> Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer">
            2019 © FAP Group.
        </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->