﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Render Bootstrap *@
    @Styles.Render("~/Design/assets/css")
    @Styles.Render("~/Design/assets/skins")

    @Scripts.Render("~/Design/assets/js")
    @Scripts.Render("~/Design/assets/js-custom")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @Html.Action("TopMenuBar", "Shared")
    @Html.Action("MenuBar", "Shared")
    @RenderBody()
    @Html.Action("Footer", "Shared")
    @RenderSection("scripts", required: false)
</body>
</html>
