﻿@model WebPortal.Models.UserProfile
@{
    ViewBag.Title = "TopMenuBar";
}
@{
    int userLevel = 100;

    if (Session["UserLevel"] != null)
    {
        userLevel = int.Parse(Session["UserLevel"].ToString());
    }
}

<script src="https://apis.google.com/js/api:client.js"></script>

<div class="hidden-top">
    <div class="hidden-top-inner container">
        <div class="row">
            <div class="span12">
                <ul>
                    <li>Main office: Jl. Letjend S. Parman Kav. 28, Grogol - Petamburan, Jakarta Barat, Indonesia</li>
                    <li>Call us <i class="icon-phone"></i>(021) - 2929 8888</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="container ">
        <!-- hidden top area toggle link -->
        <div id="header-hidden-link">
            <a href="#" class="toggle-link" data-target=".hidden-top"><i></i>Open</a>
        </div>
        <!-- end toggle link -->
        <div class="row nomargin">
            <div class="span12">
                @if (Session["LogedUsername"] != null)
                {
                    <div class="headnav">
                        <ul>
                            <li><a href="/MyAccount/Index"><i class="icon-user"></i>@Model.userProfile.UserName</a></li>
                            <li><a href="#" data-toggle="modal" onclick="Logout()">Logout</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="headnav">
                        <ul>
                            <li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i>Register</a></li>
                            <li><a href="#mySignin" data-toggle="modal">Login</a></li>
                        </ul>
                    </div>
                }

                <!-- Signup Modal -->
                <div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputRegisterUsername">Username</label>
                                <div class="controls">
                                    <input type="text" id="inputRegisterUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputRegisterName">Name</label>
                                <div class="controls">
                                    <input type="text" id="inputRegisterName" placeholder="Name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputRegisterEmail">Email</label>
                                <div class="controls">
                                    <input type="text" id="inputRegisterEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputRegisterUserType">Register as</label>
                                <div class="controls">
                                    @Html.DropDownList("inputRegisterUserType", new List<SelectListItem>  
                                    {  
                                       new SelectListItem{ Text="Customer", Value = "C" },  
                                       new SelectListItem{ Text="Vendor", Value = "V" }
                                    })
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <a class="btn" onclick="Register()">Register</a>
                                    <a class="btn" href="#myOTPManual" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Input OTP Password</a>
                                </div>
                                <p class="aligncenter margintop20">
                                    Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Sign in</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end signup modal -->

                <!-- OTP Modal -->
                <div id="myOTPPassword" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myOTPPasswordModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myOTPPasswordModalLabel">Submit your <strong>password</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputOTPPassword">OTP Password</label>
                                <div class="controls">
                                    <input type="password" id="inputOTPPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    @*<a href="#myNewPassword" data-dismiss="modal" aria-hidden="true" data-toggle="modal" class="btn">Submit</a>*@
                                    <a class="btn" onclick="OTP()">Submit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end OTP modal -->

                <!-- OTP Manual Modal -->
                <div id="myOTPManual" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myOTPManualModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myOTPManualModalLabel">Submit your <strong>password</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputOTPUserId">User Id</label>
                                <div class="controls">
                                    <input type="text" id="inputOTPUserId" placeholder="User Id">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputOTPManual">OTP Password</label>
                                <div class="controls">
                                    <input type="password" id="inputOTPManual" placeholder="Password">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <a class="btn" onclick="OTPManual()">Submit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end OTP manual modal -->

                <!-- New Password Modal -->
                <div id="myNewPassword" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myNewPasswordModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myNewPasswordModalLabel">Submit your <strong>password</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputNewPassword">New Password</label>
                                <div class="controls">
                                    <input type="password" id="inputNewPassword" placeholder="New Password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputConfirmNewPassword">Confirm New Password</label>
                                <div class="controls">
                                    <input type="password" id="inputConfirmNewPassword" placeholder="Confirm New Password">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <a class="btn" onclick="NewPassword()">Submit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end new password modal -->

                <!-- Sign in Modal -->
                <div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputText">Username</label>
                                <div class="controls">
                                    <input type="text" id="inputUsername" placeholder="Username" onkeypress="return enterKey_Submit_Login(event)">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputText">Password</label>
                                <div class="controls">
                                    <input type="password" id="inputPassword" placeholder="Password" onkeypress="return enterKey_Submit_Login(event)">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn" onclick="Login()">Login</button>
                                </div>
                                <p class="aligncenter margintop20">
                                    Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end signin modal -->

                <!-- Reset Modal -->
                <div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="control-group">
                                <label class="control-label" for="inputResetEmail">Email</label>
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn">Reset password</button>
                                </div>
                                <p class="aligncenter margintop20">
                                    We will send instructions on how to reset your password to your inbox
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end reset modal -->

                <!-- Account Modal -->
                <div id="myAccount" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myAccountModalLabel" aria-hidden="true">
                    @if (Session["LogedUserId"] != null)
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 id="myAccountModalLabel">Hello <strong>@Model.userProfile.UserName</strong>,</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>User ID           : @Model.userProfile.UserId</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>User Name         : @Model.userProfile.UserName</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>Position          : @Model.userProfile.Jabatan</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>Region            : @Model.userProfile.Region</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>Email             : @Model.userProfile.email</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>Secondary Email   : @(Model.userProfile.SecondaryEmail == null ? "-" : Model.userProfile.SecondaryEmail)</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputText">
                                        <pre>Ext. Number       : @Model.userProfile.ExtensionNumber</pre>
                                    </label>
                                </div>
                                <div class="control-group">
                                    <div class="controls center-div">
                                        <a class="btn" href="#mySecondaryEmail" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Edit Secondary Email @if (Model.userProfile.SecondaryEmail == null)
                                                                                                                                                                 { <i class="icon-exclamation-sign"></i> } </a>
                                    </div>
                                    @if (userLevel == 2)
                                    {
                                        <div class="controls center-div">
                                            <a class="btn" href="/Vendor/DataVendor">Edit Master Data Vendor</a>
                                        </div>
                                    }
                                    <div class="controls center-div">
                                        <a class="btn" href="#" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Change Password</a>
                                    </div>
                                    @if (Model.listUserSite.Count > 0)
                                    {
                                        <div class="controls center-div">
                                            <a class="btn" href="#mySiteMapping" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Mapping Site User</a>
                                        </div>
                                    }
                                    <div class="controls center-div">
                                        <a class="btn" onclick="Logout()">Logout</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
                <!-- end Account modal -->

                <!-- Secondary Email Modal -->
                <div id="mySecondaryEmail" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySecondaryEmailModalLabel" aria-hidden="true">
                    @if (Session["LogedUserId"] != null)
                    {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 id="mySecondaryEmailModalLabel">Secondary <strong>Email</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputResetEmail">Secondary Email : </label>
                                    <div class="controls">
                                        <input type="text" id="inputSecondaryEmail" placeholder="Secondary Email" onkeypress="return enterKey_Submit_EditSecondary(event)" value="@Model.userProfile.SecondaryEmail">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="button" class="btn" onclick="EditSecondaryEmail()">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
                <!-- end edit profile modal -->

                <!-- Site Mapping Modal -->
                <div id="mySiteMapping" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySiteMappingModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="mySiteMappingModalLabel"><strong>Site Mapping</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            @if (Model.listUserSite != null)
                            {
                                foreach (var site in Model.listUserSite)
                                {
                                <div class="control-group">
                                    <label class="control-label" for="inputResetEmail">@site.SiteName : </label>
                                    <div class="span3">
                                        <input type="text" id="inputUserId-@site.SiteCode" class="mapSite" placeholder="User Id" onkeyup="mapSiteChanged('@site.SiteCode')" value="@site.SiteUserId">
                                        <input type="password" id="inputPassword-@site.SiteCode" class="mapSite" placeholder="Password" onkeyup="mapSiteChanged('@site.SiteCode')" value="@site.SitePassword">
                                    </div>
                                    <div class="span1" style="margin-left: 0px">
                                        <button type="button" class="btn mapSite-@site.SiteCode" style="width:40px; display:none" onclick="EditSiteMapping('@site.SiteCode')"><i class="icon-ok"></i></button>
                                        <button type="button" class="btn mapSite-@site.SiteCode" style="width:40px; display:none"><i class="icon-remove"></i></button>
                                    </div>
                                </div>
                                }
                            }
                        </form>
                    </div>
                </div>
                <!-- end site mapping modal -->
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    function Register() {
        var UserId = document.getElementById('inputRegisterUsername').value;
        var UserName = document.getElementById('inputRegisterName').value;
        var Email = document.getElementById('inputRegisterEmail').value;
        var Type = document.getElementById('inputRegisterUserType').value;
        var getParams = {
            "UserId": UserId,
            "UserName": UserName,
            "Email": Email,
            "UserType": Type
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/Register',
            context: document.body,
            data: getParams,
            success: function (result) {
                alert(result.Message);

                if (result.Status) {
                    alert(result.GeneratedPassword);
                    $('#mySignup').modal('hide');
                    $('#myOTPPassword').modal('show');
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function OTP() {
        var OTPPassword = document.getElementById('inputOTPPassword').value;
        var getParams = {
            "OTP": OTPPassword
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/OTPPassword',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    $('#myOTPPassword').modal('hide');
                    $('#myNewPassword').modal('show');
                } else {
                    alert(result.Message);
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function OTPManual() {
        var OTPUserId = document.getElementById('inputOTPUserId').value;
        var OTPManual = document.getElementById('inputOTPManual').value;
        var getParams = {
            "OTPUserId": OTPUserId,
            "OTPPassword": OTPManual
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/OTPManual',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    $('#myOTPManual').modal('hide');
                    $('#myNewPassword').modal('show');
                } else {
                    alert(result.Message);
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function NewPassword() {
        var NewPassword = document.getElementById('inputNewPassword').value;
        var ConfirmPassword = document.getElementById('inputConfirmNewPassword').value;

        if (NewPassword === ConfirmPassword) {
            var getParams = {
                "NewPassword": NewPassword,
                "ConfirmPassword": ConfirmPassword
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Home/NewPassword',
                context: document.body,
                data: getParams,
                success: function (result) {
                    alert(result.Message);

                    if (result.Status) {
                        $('#myNewPassword').modal('hide');
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });
        } else {
            alert('Password Not Match');
        }
    }

    function Login() {
        var UserId = document.getElementById('inputUsername').value;
        var Password = document.getElementById('inputPassword').value;
        var getParams = {
            "UserId": UserId,
            "Password": Password
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/Login',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result == 'Success') {
                    //setCookie('ssoTest', UserId, 7);
                    window.location.href = '@Url.Action("Index", "Home")';
            } else {
                alert(result);
            }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
}

function Logout() {
    var UserId = '@Session["LogedUserId"]';
    var getParams = {
        "UserId": UserId
    };
    $.ajax({
        type: "POST",
        traditional: true,
        async: false,
        cache: false,
        url: '/Home/Logout',
        context: document.body,
        data: getParams,
        success: function (result) {
            deleteCookie('reId');
            deleteCookie('rePass');
            window.location.href = '@Url.Action("LoginPage", "Home")';
        },
        error: function (xhr) {
            //debugger;  
            console.log(xhr.responseText);
            alert("Error has occurred..");
        }
    });
}

function enterKey_Submit_Login(e) {
    if (e.which == 13) {
        Login();
    }
}

function enterKey_Submit_EditSecondary(e) {
    if (e.which == 13) {
        EditSecondaryEmail();
        return false;
    }
}

function setCookie(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function deleteCookie(cname) {
    document.cookie = cname + "=" + "; path=/";

}

function EditSecondaryEmail() {
    var UserId = '@Session["LogedUserId"]';
        var SecondaryEmail = document.getElementById('inputSecondaryEmail').value;
        var getParams = {
            "UserId": UserId,
            "SecondaryEmail": SecondaryEmail
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/EditSecondaryEmail',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result == 'Success') {
                    window.location.href = '@Url.Action("Index", "MyAccount")';
                    } else {
                        alert(result);
                    }
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });
        }

        function EditSiteMapping(site) {
            var UserId = '@Session["LogedUserId"]';
            var siteCode = site;
            var siteUser = document.getElementById("inputUserId-" + site).value;
            var sitePass = document.getElementById("inputPassword-" + site).value;
            var getParams = {
                "UserId": UserId,
                "siteCode": siteCode,
                "siteUserId": siteUser,
                "sitePassword": sitePass
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Home/EditSiteMapping',
                context: document.body,
                data: getParams,
                success: function (result) {
                    if (result == 'Success') {
                        window.location.href = '@Url.Action("Index", "MyAccount")';
                    } else {
                        alert(result);
                    }
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });
        }

        function mapSiteChanged(site) {
            $(".mapSite-" + site).css('display', 'block');
        }

</script>
