﻿@model WebPortal.Models.SiteMapping
@{  
    ViewBag.Title = "Web Portal | Edit Permission";  
}
@{
    int urut = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Site Permission</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <a href="/UserGroup/Index" class="btn btn-purple" onclick="return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2 form-group">
                            <h6>User Group : </h6>
                        </div>
                        <div class="span4 form-group">
                            @Html.Hidden("UserLevel", Model.UserLevel, new { @id = "UserLevel" })
                            @Html.TextBox("Description", Model.Description, new { @id = "Description", @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <table class="table table-striped">
                                <tbody>
                                    @foreach (var site in Model.listSite)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="checkbox item-@urut" name="@site.SiteCode" checked="@site.Checker" style="margin-top:-2px"/>
                                                @site.SiteName
                                            </td>
                                        </tr>
                                        { urut++; }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <p class="text-center">
                                    <button type="button" class="btn btn-large btn-theme margintop10" onclick="saveSitePermission()">Save</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function saveSitePermission() {
        var CheckedSiteInfo = [];
        var UnCheckedSiteInfo = [];

        $('.checkbox:checked').each(function () {
            var _checkedSite = {};
            _checkedSite.SiteCode = $(this).attr("name");
            CheckedSiteInfo.push($(this).attr("name"));
        });

        $('.checkbox:not(:checked)').each(function () {
            var _uncheckedSite = {};
            _uncheckedSite.SiteCode = $(this).attr("name");
            UnCheckedSiteInfo.push($(this).attr("name"));
        });

        var submitSiteMapping = {
            UserLevel: $("#UserLevel").val(),
            CheckedSite: CheckedSiteInfo,
            UnCheckedSite: UnCheckedSiteInfo
        };

        $.ajax({
            type: "POST",
            url: "/UserGroup/EditSitePermission",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(submitSiteMapping),
            cache: false,
            success: function (data) {
                if (data == 'Success') {
                    window.location.href = '@Url.Action("Index", "UserGroup")';
                } else {
                    alert(result);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
                alert("Error has occurred.");
            }
        });
    }

    $(function () {
        for (var i = 1; i < '@urut'; i++) {
            var className = '.item-' + i;

            $(className).click(function () {
                var classFullName = $(this).attr("class").substring(9);
                var res = classFullName.split("-");

                var classNameLv2 = '.' + res[0] + 'Lv2-' + res[1];

                if ($(this).is(':checked')) {
                    $(classNameLv2).attr("checked", true);
                } else {
                    $(classNameLv2).attr("checked", false);
                }
            });
        }
    });
</script>
