﻿@model WebPortal.Model.T_MsUser
@{
    ViewBag.Title = "Web Portal | Edit User";
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit User</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/User/Index" class="btn btn-purple" onclick="return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>User Id : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.UserId, new { @id = "UserId", @class = "form-control", @placeholder = "*User ID", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>User Name : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.UserName, new { @id = "UserName", @class = "form-control", @placeholder = "*User Name" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Region : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.DropDownListFor(model => model.Region, ViewBag.RegionList as SelectList, "*Choose Region", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Region, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span2 form-group">
                                <h6>User Level : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.DropDownListFor(model => model.UserLevel, ViewBag.UserGroupList as SelectList, "*Choose User Level", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserLevel, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Email : </h6>
                            </div>
                            <div class="span10 form-group">
                                @Html.TextBoxFor(model => model.email, new { @id = "Email", @class = "form-control", @placeholder = "*Email" })
                                @Html.ValidationMessageFor(model => model.email, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Position : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.Jabatan, new { @id = "Jabatan", @class = "form-control", @placeholder = "*Jabatan" })
                                @Html.ValidationMessageFor(model => model.Jabatan, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span2 form-group">
                                <h6>Division : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.Divisi, new { @id = "Divisi", @class = "form-control", @placeholder = "*Divisi" })
                                @Html.ValidationMessageFor(model => model.Divisi, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span6" style="height:50px"></div>
                            <div class="span12 form-group">
                                <h6 class="text-center">Temporary Access </h6>
                            </div>
                            <div class="span2 form-group">
                                <h6>From : </h6>
                            </div>
                            <div class="span3 form-group">
                                @Html.TextBoxFor(model => model.StartAccess, new { @id = "StartAccess", @class = "form-control", @placeholder = "mm / dd / yyyy", @readonly = "readonly" }) 
                                @Html.ValidationMessageFor(model => model.StartAccess, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span1 form-group">
                                <span class="i-calendar-from"><i class="icon-calendar icons-example"></i></span>&nbsp
                                <span class="i-clear-from"><i class="icon-remove icons-example"></i></span>
                            </div>
                            <div class="span2 form-group">
                                <h6>To : </h6>
                            </div>
                            <div class="span3 form-group">
                                @Html.TextBoxFor(model => model.EndAccess, new { @id = "EndAccess", @class = "form-control", @placeholder = "mm / dd / yyyy", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.EndAccess, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span1 form-group">
                                <span class="i-calendar-to"><i class="icon-calendar icons-example"></i></span>&nbsp
                                <span class="i-clear-to"><i class="icon-remove icons-example"></i></span>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <button class="btn btn-large btn-theme margintop10" type="submit">Edit User</button>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

    $(function () {
        $("#StartAccess").datepicker({
            minDate: 0,
            onClose: function (selectedDate) {
                $("#EndAccess").datepicker("option", "minDate", selectedDate);
                $("#StartAccess").attr("value", selectedDate.toString());
            }
        });
        $("#EndAccess").datepicker({
            minDate: 0,
            onClose: function (selectedDate) {
                $("#StartAccess").datepicker("option", "maxDate", selectedDate);
                $("#EndAccess").attr("value", selectedDate.toString());
            }
        });

        $('.i-calendar-from').click(function () {
            $("#StartAccess").focus();
        });

        $('.i-calendar-to').click(function () {
            $("#EndAccess").focus();
        });

        $('.i-clear-from').click(function () {
            document.getElementById('StartAccess').value = "";
            $("#EndAccess").datepicker("option", "minDate", 0);
        });

        $('.i-clear-to').click(function () {
            document.getElementById('EndAccess').value = "";
            $("#StartAccess").datepicker("option", "maxDate", null);
        });
    });

    $(document).ready(function () {
        var from = $("#StartAccess").val();
        var to = $("#EndAccess").val();

        if (from != null) {
            $("#EndAccess").datepicker("option", "minDate", from);
        }

        if (to != null) {
            $("#StartAccess").datepicker("option", "maxDate", to);
        }
    });
</script>
